@font-face {
    font-family: "Maax";
    src: local("Maax Medium"), local("Maax-Medium"),
        url("res/fonts/maax/Maax-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Maax";
    src: local("Maax"), url("res/fonts/maax/Maax.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Maax", sans-serif;
    margin: 0;
    display: inline;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 {
    font-size: 39px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

p img {
    vertical-align: middle;
}
h2 img {
    vertical-align: middle;
}

img {
    object-fit: cover
}

.mobile {
    display: none;
}

.side-pannel {
    background-image: url("res/img/ui/background.png");

    height: 100vh;
    width: 32vw;
    color: white;
    padding: 60px;

    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.side-pannel .info p {
    margin-bottom: 28px;
}
.side-pannel .info h2 {
    margin-bottom: 14px;
}

.side-pannel p,
.side-pannel h2 {
    margin: 0;
}

.expand {
    flex-grow: 1;
}

.main-content {
    margin-top: 150px;
    margin-left: calc(32vw + 60px);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 61px;
}

.main-content h1 {
    color: #c40041;
    margin-top: 0;
    margin-bottom: 16px;
}

.main-content .block:not(:first-child) {
    margin-top: 87px;
}

.main-content .block:last-child {
    margin-bottom: 121px;
}

.about {
    width: 423px;
}

.tdc68-image {
    padding-top: 63px;
}

.photos > div:not(:first-of-type) {
    margin-top: 45px;
}

sub {
    font-size: 10px;
    font-weight: 400;
    color: black;
}

@media (max-width: 768px) {
    h1 {
        font-size: 27px;
    }

    .wide {
        display: none;
    }
    .mobile {
        display: inline;
    }

    .side-pannel {
        background-position: 0 -500px;
        width: 100vw;
        height: auto;
        position: relative;
        padding: 30px;
    }

    .side-pannel {
        position: sticky;
    }

    .expand {
        display: none;
    }

    .main-content {
        padding-inline: 30px;
        margin: 0;
        margin-top: 30px;
        padding: 0 15px;
    }

    .about {
        width: 100%;
        padding-inline: 18px;
    }

    .tdc68-image {
        padding-top: 0px;
        margin-left: 18px;

    }

    .preview-block {
        margin-left: 16px;
    }

    .flex-row {
        flex-direction: column;
        gap: 30px;
    }
    .photos {
        margin-bottom: 80px;
    }
    .photos img,
    .photos video,
    .tdc68-image img {
        width: calc(100vw - 60px);
    }
}
